@import "tailwindcss";

:root {
  --text: #ffffff;
  --text-h: #ffffff;
  --bg: #16171d;

  --border: #e5e4e7;
  --bg: #16171d;

  --accent: red;
  --accent-bg: red;
  --accent-border: red;

  --shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #ffffff;
    --text-h: #ffffff;
    --bg: #16171d;

    --border: #2e303a;
    --bg: #16171d;

    --accent: red;
    --accent-bg: red;
    --accent-border: red;

    --shadow: rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }
}

body {
  margin: 0;
  font-family: var(--sans);
  background: var(--bg);
  color: var(--text);
  -webkit-font-smoothing: antialiased;
}

#root {
  min-height: 100svh;
}

h1,
h2 {
  font-family: var(--heading);
  color: var(--text-h);
  margin: 0;
}

h1 {
  font-size: 3rem;
  letter-spacing: -0.05em;
}

h2 {
  font-size: 1.5rem;
}

code {
  font-family: var(--mono);
  background: var(--code-bg);
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
}
